* {
  box-sizing: border-box;
  margin: 0;
}



.main {
    display: grid;
    background-color: #ffd770;
    grid-template-columns: min-content 1fr;
}
    
ul {
  list-style: none;
  padding-left: 0;
}

.sidebar {
  height: 100vh;
  width: 170px;
  background-color: #283046;
  border-radius: 0 20px 20px 0;


}
.navContainer {
  position: relative;
}

.items {
  width: 170px;
  height: 100px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.items:hover{
   
    background-color: #ffd770;
    opacity: 1;
}

.item {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
    background-color: #ffd770;
    position: relative;
}
.card{
    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input{
    background-color: #212121;
    width: 500px;
    height: 50px;
    border-radius: 10px;

}