
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: url(../assets/fonts/Montserrat-VariableFont_wght.ttf);
    min-height: 100vh;
    background-color: #283046;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-image: url(../assets/images/pexels-frank-araujo-12693427.jpg); */
    background-image: url(../assets/images/pexels-arturo-añez-13631236.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;

}

.inicio{
    display: grid;
    margin: auto;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 25px;
    width: 575px;
    height: 375px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(124, 124, 129, 0.37);
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba(151, 141, 141, 0.18);
}

.barraLogo{
    width: 100%;
    max-width: 600px;
    z-index: 1;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#avilaLogo{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    margin-bottom: 15px;
}

#inputCedula{
    display: flex;
    margin: auto;
    padding-left: 10px;
    height: 40px;
    width: 450px;
    border: 0;
    background-color: rgb(212, 210, 189);
    border-radius: 15px;
    color: #1a1a1a;
}


